USE [master]
GO
/****** Object:  Database [ITForum2BD]    Script Date: 19.05.2026 22:57:15 ******/
CREATE DATABASE [ITForum2BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITForum2BD', FILENAME = N'D:\Sql\MSSQL17.MSSQLSERVER\MSSQL\DATA\ITForum2BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITForum2BD_log', FILENAME = N'D:\Sql\MSSQL17.MSSQLSERVER\MSSQL\DATA\ITForum2BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITForum2BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITForum2BD]
GO
/****** Object:  Table [dbo].[CheckIn]    Script Date: 19.05.2026 22:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckIn](
	[Check_ID] [int] IDENTITY(1,1) NOT NULL,
	[Member_ID] [int] NULL,
	[Session_ID] [int] NULL,
	[CheckTime] [datetime] NULL,
 CONSTRAINT [PK_CheckIn] PRIMARY KEY CLUSTERED 
(
	[Check_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 19.05.2026 22:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Event_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 19.05.2026 22:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Feed_ID] [int] IDENTITY(1,1) NOT NULL,
	[Event_ID] [int] NULL,
	[Member_ID] [int] NULL,
	[Rating] [nvarchar](5) NULL,
	[Comment] [nvarchar](100) NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[Feed_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 19.05.2026 22:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Group_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Group_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 19.05.2026 22:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Loc_ID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](50) NULL,
	[Capacity] [nvarchar](10) NULL,
	[Floor] [nvarchar](10) NULL,
	[Room] [nvarchar](10) NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Loc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 19.05.2026 22:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Member_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[SecondName] [nvarchar](50) NULL,
	[PapaName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Group_ID] [int] NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Member_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 19.05.2026 22:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[Reg_ID] [int] IDENTITY(1,1) NOT NULL,
	[Member_ID] [int] NULL,
	[Event_ID] [int] NULL,
	[RegDate] [datetime] NULL,
	[Ticket_ID] [int] NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[Reg_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 19.05.2026 22:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[Session_ID] [int] IDENTITY(1,1) NOT NULL,
	[Event_ID] [int] NULL,
	[Loc_ID] [int] NULL,
	[Theme] [nvarchar](200) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[Session_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 19.05.2026 22:57:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Ticket_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](100) NULL,
	[Price] [char](5) NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[Ticket_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CheckIn] ON 

INSERT [dbo].[CheckIn] ([Check_ID], [Member_ID], [Session_ID], [CheckTime]) VALUES (1, 1, 1, CAST(N'2026-05-10T09:45:00.000' AS DateTime))
INSERT [dbo].[CheckIn] ([Check_ID], [Member_ID], [Session_ID], [CheckTime]) VALUES (2, 2, 1, CAST(N'2026-05-10T09:50:00.000' AS DateTime))
INSERT [dbo].[CheckIn] ([Check_ID], [Member_ID], [Session_ID], [CheckTime]) VALUES (3, 3, 1, CAST(N'2026-05-10T09:55:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CheckIn] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Event_ID], [Name], [StartDate], [EndDate], [Description]) VALUES (1, N'IT Forum 2026', CAST(N'2026-05-10T09:00:00.000' AS DateTime), CAST(N'2026-05-12T18:00:00.000' AS DateTime), N'Главное IT событие года')
INSERT [dbo].[Event] ([Event_ID], [Name], [StartDate], [EndDate], [Description]) VALUES (2, N'Science Day', CAST(N'2026-06-15T10:00:00.000' AS DateTime), CAST(N'2026-06-15T20:00:00.000' AS DateTime), N'Популяризация науки')
INSERT [dbo].[Event] ([Event_ID], [Name], [StartDate], [EndDate], [Description]) VALUES (3, N'Startup Weekend', CAST(N'2026-07-20T12:00:00.000' AS DateTime), CAST(N'2026-07-22T15:00:00.000' AS DateTime), N'Хакатон для стартапов')
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([Feed_ID], [Event_ID], [Member_ID], [Rating], [Comment]) VALUES (1, 1, 1, N'5', N'Отличная конференция!')
INSERT [dbo].[Feedback] ([Feed_ID], [Event_ID], [Member_ID], [Rating], [Comment]) VALUES (2, 1, 3, N'4', N'Понравилось, но мало кофе')
INSERT [dbo].[Feedback] ([Feed_ID], [Event_ID], [Member_ID], [Rating], [Comment]) VALUES (3, 2, 4, N'5', N'Лектор по космосу — супер')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([Group_ID], [Type]) VALUES (1, N'Студенты')
INSERT [dbo].[Groups] ([Group_ID], [Type]) VALUES (2, N'Спикеры')
INSERT [dbo].[Groups] ([Group_ID], [Type]) VALUES (3, N'VIP-гости')
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([Loc_ID], [Location], [Capacity], [Floor], [Room]) VALUES (1, N'Главный зал', N'500', N'1', N'101')
INSERT [dbo].[Location] ([Loc_ID], [Location], [Capacity], [Floor], [Room]) VALUES (2, N'Конференц-зал А', N'100', N'2', N'205')
INSERT [dbo].[Location] ([Loc_ID], [Location], [Capacity], [Floor], [Room]) VALUES (3, N'Малый зал', N'50', N'2', N'208')
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([Member_ID], [Name], [SecondName], [PapaName], [Email], [PhoneNumber], [Group_ID]) VALUES (1, N'Иван', N'Иванов', N'Иванович', N'ivan@mail.ru', N'79001112233', 1)
INSERT [dbo].[Members] ([Member_ID], [Name], [SecondName], [PapaName], [Email], [PhoneNumber], [Group_ID]) VALUES (2, N'Анна', N'Петрова', N'Сергеевна', N'anna@yandex.ru', N'79004445566', 2)
INSERT [dbo].[Members] ([Member_ID], [Name], [SecondName], [PapaName], [Email], [PhoneNumber], [Group_ID]) VALUES (3, N'Дмитрий', N'Сидоров', N'Алексеевич', N'dima@gmail.com', N'79007778899', 3)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([Reg_ID], [Member_ID], [Event_ID], [RegDate], [Ticket_ID]) VALUES (1, 1, 1, CAST(N'2026-04-01T12:00:00.000' AS DateTime), 3)
INSERT [dbo].[Registration] ([Reg_ID], [Member_ID], [Event_ID], [RegDate], [Ticket_ID]) VALUES (2, 2, 1, CAST(N'2026-04-05T10:30:00.000' AS DateTime), 4)
INSERT [dbo].[Registration] ([Reg_ID], [Member_ID], [Event_ID], [RegDate], [Ticket_ID]) VALUES (3, 3, 1, CAST(N'2026-04-10T15:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Registration] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([Session_ID], [Event_ID], [Loc_ID], [Theme], [StartTime], [EndTime]) VALUES (1, 1, 1, N'Открытие IT форума', CAST(N'2026-05-10T10:00:00.000' AS DateTime), CAST(N'2026-05-10T12:00:00.000' AS DateTime))
INSERT [dbo].[Session] ([Session_ID], [Event_ID], [Loc_ID], [Theme], [StartTime], [EndTime]) VALUES (2, 1, 2, N'Архитектура баз данных', CAST(N'2026-05-10T13:00:00.000' AS DateTime), CAST(N'2026-05-10T14:30:00.000' AS DateTime))
INSERT [dbo].[Session] ([Session_ID], [Event_ID], [Loc_ID], [Theme], [StartTime], [EndTime]) VALUES (3, 1, 3, N'Воркшоп по SQL', CAST(N'2026-05-11T11:00:00.000' AS DateTime), CAST(N'2026-05-11T13:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([Ticket_ID], [Type], [Price]) VALUES (1, N'Стандартный', N'500  ')
INSERT [dbo].[Ticket] ([Ticket_ID], [Type], [Price]) VALUES (2, N'Премиум', N'1200 ')
INSERT [dbo].[Ticket] ([Ticket_ID], [Type], [Price]) VALUES (3, N'Студенческий', N'250  ')
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_Members] FOREIGN KEY([Member_ID])
REFERENCES [dbo].[Members] ([Member_ID])
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [FK_CheckIn_Members]
GO
ALTER TABLE [dbo].[CheckIn]  WITH CHECK ADD  CONSTRAINT [FK_CheckIn_Session] FOREIGN KEY([Session_ID])
REFERENCES [dbo].[Session] ([Session_ID])
GO
ALTER TABLE [dbo].[CheckIn] CHECK CONSTRAINT [FK_CheckIn_Session]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Event] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Event] ([Event_ID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Event]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Members] FOREIGN KEY([Member_ID])
REFERENCES [dbo].[Members] ([Member_ID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Members]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Groups] FOREIGN KEY([Group_ID])
REFERENCES [dbo].[Groups] ([Group_ID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Groups]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Event] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Event] ([Event_ID])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Event]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Members] FOREIGN KEY([Member_ID])
REFERENCES [dbo].[Members] ([Member_ID])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Members]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Ticket] FOREIGN KEY([Ticket_ID])
REFERENCES [dbo].[Ticket] ([Ticket_ID])
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Ticket]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Event] FOREIGN KEY([Event_ID])
REFERENCES [dbo].[Event] ([Event_ID])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Event]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Location] FOREIGN KEY([Loc_ID])
REFERENCES [dbo].[Location] ([Loc_ID])
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Location]
GO
USE [master]
GO
